<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cj46.tejas.com.techbodhi">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MasterBaseActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddPost"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ViewPosts"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".RegisterUser"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ViewUsers"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ApproveUsers"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ApprovePosts"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".ViewPostDetails"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".UserLoginActivity"
            android:label="@string/title_activity_user_login"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".UserPanelViewPost"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".UserPanelViewPostDetails"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>